		/* Edge hack to have the good white-space value */
		@supports (-ms-ime-align:auto) {
			#c {
				white-space: nowrap !important;
			}
		}
		#c{
			white-space: pre;
			overflow: auto;
			width:100%;
			height:20%;
			font-size:smaller;
			min-height:300px;
			font-family:monaco, "Lucida Console", Courier, monospace;
		}
		.glyphicon.glyphicon-dot:before {
		    content: "\25cf";
		}
		body.closedPanel #right-controler span{
			transform:rotate(180deg);
		}
		body.closedPanel #right{
			width:1.2em;
		}
		body.closedPanel #right-container{
			display:none;
		}
		body.closedPanel #left-panel{
			width:calc(100% - 1.2em);
		}
		#left-panel{
			float:left;
			width:calc(100% - 300px);
			padding-bottom:10px;
		}
		#right-controler{
			position:absolute;
			left:0;
			top:0;
			bottom:0;
			background-color:rgba(165,165,165,0.5);
			width:1.2em;
			//display:table;
			vertical-align:middle
			height:100%;
			cursor:pointer;
		}
		#right-controler span{
			position:absolute;
			top:calc(50% - 10px);
			padding:2px;
		}
		.package{
			font-family:monospace;
		}
		#log hr{
			margin-top:5px;
			margin-bottom:5px;
			border-color:#ccc;
		}
		#log hr:first-of-type{
			border-width:2px;
		}
		.btn-import{
			width:100%;
			margin-top:2px;
			margin-bottom:2px;
			text-align:center;
		}
		#table {
			font-family: "Computer Modern", sans-serif;
			margin-top:4px;
			margin-bottom:4px;
			padding:0;
		}
		#table span.latex-equation{
			background:rgba(255, 112, 77, 0.3);
			font-family:monospace;
			padding:2px;
			margin:2px;
		}
		#table span.latex-equation::after,#table span.latex-equation::before{
			content:"$";
			margin-left:3px;
			margin-right:3px;
		}
		#table ul {
 		   padding-left:1.2em;
		}
		#create_table{
			border-collapse:separate;
			border-spacing:2px;
		}
		#create_table td{
			border:1px solid black;
			height:15px;
			width:15px;
		}
		#create_table td.selected{
			background:highlight;
		}
		#table td {
			margin: 0;
		}

		body[data-view-editor] #table {
			border-collapse: collapse !important;
			border-spacing:0px !important;
		}

		body:not([data-view-editor]) #table td {
			border: 1px dotted lightgrey;
		}

		#table .outer {
			padding-left: 3px;
			padding-right: 3px;
		}

		nav {
			font-family: Helvetica;
		}

		.group {
			display: inline-block;
			border: 1px solid black;
			border-radius: 5px;
			padding: 2px;
		}
		.icon-underline{
			height:14px;
			width:14px;
			display:inline-block;
			background-size:14px 14px;
			background-image: url('underline.png');
			position:relative;
			top:2px;
		}


		#table td div[contenteditable] {
			min-height: 1em;
			min-width: 1ex;
		}

		em em {
			font-style: normal;
		}

		body[data-border-editor] #table * {
			cursor: pointer !important;
		}

		body[data-view-editor] #table * {
			cursor: default !important;
		}
		td[data-two-diagonals] {
			position: relative;
		}

		td[data-two-diagonals]:before,
		td[data-two-diagonals]::before {
			content: "";
			position: absolute;
			top: 33%;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			background: linear-gradient(to right top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49.9%, #000000 50%, #000000 51%, rgba(255, 255, 255, 0) 51.1%, rgba(255, 255, 255, 0) 100%);
		}

		td[data-two-diagonals]:after,
		td[data-two-diagonals]::after {
			content: "";
			position: absolute;
			top: 0;
			left: 33%;
			right: 0;
			bottom: 0;
			z-index: -1;
			background: linear-gradient(to right top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49.9%, #000000 50%, #000000 51%, rgba(255, 255, 255, 0) 51.1%, rgba(255, 255, 255, 0) 100%);
		}

		td[data-two-diagonals] div[contenteditable]:not(:last-child) {
			display: inline-block;
		}

		td[data-align="l"] {
			text-align: left;
		}

		td[data-align="c"] {
			text-align: center;
		}

		td[data-align="r"] {
			text-align: right;
		}

		td[data-diagonal], #extract-div td[style*=mso-diagonal-down] {
			background-image: linear-gradient(to right top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49.999%, #000000 50%, #000000 51%, rgba(255, 255, 255, 0) 51.0001%, rgba(255, 255, 255, 0) 100%);
		}
		td[data-diagonal][data-selected]{
			background-image: linear-gradient(to right top, rgba(50,151,253,0.5) 0%, rgba(50,151,253,0.5) 49.9%, #000000 50%, #000000 51%, rgba(50,151,253,0.5) 51.1%, rgba(50,151,253,0.5) 100%);
		}
		td[data-diagonal] div[contenteditable] {
			text-align: left;
			word-break: keep-all;
			white-space: nowrap;
			padding-right:50px;
		}

		td[data-diagonal] div[contenteditable]:first-child {
			padding-left:50px;
			padding-right:0;
			text-align: right !important;
		}

		body:not([data-view-editor]) #table td[data-rotated]:not([data-selected]) div.outer {
			display:table-cell;
			height:100%;
		}

		#popup_new {
			z-index: 9999;
			background: white;
			position: fixed;
			background: white;
			top: 5%;
			left: 5%;
			right: 5%;
			bottom: 5%;
			padding: 5px;
			border: 1px solid gray;
			text-align: center;
			display: none;
		}


		#right {
			float:right;
			width:300px;
			position: fixed;
			top: 0;
			right: 0;
			margin:0;
			padding:0;
			background:#ddd;
			padding-left:1.25em;
			bottom:0;
			overflow-y:hidden;
		}
		#right-container{
			width:100%;
			height:100%;
			overflow-y:auto;
		}

		#properties,
		#borders {
			margin: 5px;
			background: whitesmoke;
			padding: 5px;
			border-radius:10px;
		}

		#properties h3,
		#borders h3 {
			margin: 0;
			border-bottom: 1px solid gray;
			text-align: center;
		}

		#right_cell h6,
		#borders h6 {
			margin: 0;
			padding-top: 2px;
			padding-bottom: 2px;
			margin-top: 3px;
			margin-bottom: 3px;
			border-top: 1px solid gray;
			border-bottom: 1px solid gray;
		}

		#latex_content {
			width: 100%;
		}
		#table td[data-border-bottom="trimfull"]{
			position:relative;
		}
		#table td[data-border-bottom="trimfull"]::after{
			  content:" ";
  			  position:absolute;
  			left:0.5em;
  			right:0.5em;
  			bottom:-1px;
  			border-bottom:0.5px solid black;
		}
		#table td[data-border-top="trimfull"]{
			position:relative;
		}
		#table td[data-border-top="trimfull"]::after{
			  content:" ";
  			  position:absolute;
  			left:0.5em;
  			right:0.5em;
  			top:-1px;
  			border-top:0.5px solid black;
		}
		#table td[data-border-left="trimfull"]{
			border-left:1px solid black !important;
		}
		#table td[data-border-right="trimfull"]{
			border-right:1px solid black !important;
		}
		#table tr[data-border-top="toprule"] td,
		#table td[data-border-top="toprule"] {
			padding-top: 0.65ex !important;
		}

		#table[data-booktabs] tr:first-child td {
			padding-top: 0.65ex !important;
			border-top: 2px solid black !important;
		}

		#table[data-booktabs] tr:last-child td {
			padding-bottom: 0.4ex;
			border-bottom: 2px solid black !important;
		}

		#table tr[data-border-bottom="midrule"] td,
		#table td[data-border-bottom="midrule"] {
			padding-bottom: 0.4ex;
		}

		#table tr[data-border-bottom="hline"] td,
		#table td[data-border-bottom="hline"] {
			//border-bottom:0.4pt solid black;
		}

		#table tr[data-border-bottom="bottomrule"] td,
		#table td[data-border-bottom="bottomrule"] {
			padding-bottom: 0.4ex; //border-bottom:0.08em solid black;
		}

		#table td[data-rotated]:not([data-selected]) div[contenteditable],
		body[data-view-editor] #table td[data-rotated] div[contenteditable] {
			transform: rotate(-90deg);
		}
		
		body:not([data-view-editor]) #table td[data-selected]{
			//overflow:hidden;
}
		body:not([data-view-editor]) #table td[data-selected] div.outer {
			//position:relative;
		}
		body:not([data-view-editor]) #table td[data-selected] div[contenteditable] {
			color:black;
		}

		#table td,
		#table tr{
			margin: 0;
			padding: 0;
		}
		.border-line{
			border-top:1px dashed black;
			transform-origin: top left;
			z-index:9999;
			display:none;
			position:absolute;
			width:100px;
			height:5px;
		}
		body:not([data-view-editor]) #table td[data-selected]:not([data-two-diagonals]):not([data-diagonal]) {
			background-image:linear-gradient(rgba(50,151,253,0.5),rgba(50,151,253,0.5));	
			height:auto !important;
		}
		.nav-latex{
			background-color:white;
			z-index:945;
			position:sticky;
			top:0;
			padding-top:3px;
		}
		/* Color Picker */
		#colorpicker-name{
			background-image:linear-gradient(to right, white, white 49.99%, black 50%);
			text-align:center;
			font-weight:bold;
			padding:1rem 0;
			font-size:150%;
		}
		.color-scheme{
			display:flex;
			flex-wrap:wrap;
			margin:5px 0;
		}
		.color-scheme > div{
			margin:2px;
			cursor:pointer;
			width:30px;
			height:30px;
			border:2px solid black;
		}
		.color-scheme > div:hover{
			border-color:gray;
		}
		#colorpicker-container{
			background-color:currentColor;
			padding:2rem 10rem;
		}
@keyframes highlight {
  0% {
    background: red
  }
  100% {
    background: none;
  }
}
#support-us.active{
	animation:highlight 1s;
}